{% block content %}

    <table>

        <thead>
    
            <tr>
                <h1>Seu Catalogo</h1>

                <a href="{% url 'generos:genero_new' %}">Adicionar</a>
                <td>Genero</td>
    
            </tr>
    
        </thead>
    
        <tbody>
    
            {% for genero in generos %}
    
            <tr>
                <td>{{ genero.genero }}</td>
                <td><a href="{% url 'generos:genero_del' genero.id %}">Apagar</a></td>
                <td><a href="{% url 'generos:genero_edit' genero.id %}">Editar</a></td>
            </tr>
    
            {% endfor %}
    
        </tbody>
    
    </table>

    <br>
    <a href="{% url 'index' %}">Voltar</a>
{% endblock %}